<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <add name="connectionTimeout" value="360000"/>
      <add name="requestRetries" value="1"/>
      <!--<add name="clientId" value="AWXxV4JC23DksZdMpUNTHO_ea3WaqAjM2vkqa6IXO9IQKZlBJMTZtkh2CIZZLUSVhwzO2j2JeAAW5VlG"/>
      <add name="clientSecret" value="EA1dRP8YfmRoepk63rSrfWpM6XuIquNAE4N6_g3KN7ceYsLkl7-Nu4-N3PfTB3QELVyETY4-nLOqAPBO"/>-->
      <!-- PayPal Sandbox Settings -->
      <add name="clientId" value="Ab6kSjkjUOmlYAazTsjkjWyrRh4zbBEFnzcADDKtvHEylVVTqMG76gewWcr0Nty7swYpZQk3kAxOTMjx"/>
      <add name="clientSecret" value="EK6eiQXNzkdfBYMzBhRhn5vqpg1lvDCC-UOlcwn6VHvwiVxem5z5OyYL3yNDtCiQ406b3mAkDRC1juii"/> 
      
    </settings>
  </paypal>
  <!-- log4net settings -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="my_app.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="PayPalLogger" value="PayPal.Log.Log4netLogger"/>
    <add key="registerServer1" value="Overpoch,192.95.29.100,2501"/>
    <add key="registerServer2" value="DayZero,192.95.29.100,2301"/>
    <add key="registerServer3" value="A3 Epoch,192.95.30.52,2302"/>
    <add key="registerServer4" value="Rust,192.95.30.52,28016"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <trust level="Full"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMaxAge="7.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <!-- <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data.Entity.EF6, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data> -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="PayPal" publicKeyToken="5B4AFC1CCAEF40FB" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6"/>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PlayerDataModel" connectionString="server=bmrf.me;user id=Peep;password=S8egakU5EDaf36;persistsecurityinfo=True;database=bmrf" providerName="MySql.Data.MySqlClient"/>
    <add name="ItemsDataModel" connectionString="server=bmrf.me;user id=Peep;password=S8egakU5EDaf36;persistsecurityinfo=True;database=bmrf" providerName="MySql.Data.MySqlClient"/>
    <add name="StatsDataModel" connectionString="server=bmrf.me;user id=Peep;password=S8egakU5EDaf36;persistsecurityinfo=True;database=bmrf" providerName="MySql.Data.MySqlClient"/>
    <add name="VBulletinUserDataModel" connectionString="server=bmrf.me;user id=Peep;password=S8egakU5EDaf36;persistsecurityinfo=True;database=vbulletin4;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient"/>
    <add name="WhitelistDataModel" connectionString="server=bmrf.me;user id=Peep;password=S8egakU5EDaf36;persistsecurityinfo=True;database=bmrf" providerName="MySql.Data.MySqlClient"/>
    <add name="VBulletinSessionDataModel" connectionString="server=bmrf.me;user id=Peep;password=S8egakU5EDaf36;persistsecurityinfo=True;database=vbulletin4;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient"/>
    <add name="StreamsDataModel" connectionString="server=bmrf.me;user id=Peep;password=S8egakU5EDaf36;persistsecurityinfo=True;database=bmrf" providerName="MySql.Data.MySqlClient"/>
    <add name="VBulletinCustomAvatarDataModel" connectionString="server=bmrf.me;user id=Peep;password=S8egakU5EDaf36;persistsecurityinfo=True;database=vbulletin4" providerName="MySql.Data.MySqlClient"/>
    <add name="VBulletinUsergroupDataModel" connectionString="server=bmrf.me;user id=Peep;password=S8egakU5EDaf36;persistsecurityinfo=True;database=vbulletin4" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
