<header>
  <h3>Players</h3>
</header>
<ul class="online-players-list">
  <li class="online-player"><a href="javascript:;">Player</a></li>
  <li class="online-player"><a href="javascript:;">Player</a></li>
  <li class="online-player"><a href="javascript:;">Player</a></li>
  <li class="online-player"><a href="javascript:;">Player</a></li>
  <li class="online-player"><a href="javascript:;">Player</a></li>
  <li class="online-player"><a href="javascript:;">Player</a></li>
  <li class="online-player"><a href="javascript:;">Player</a></li>
  <li class="online-player"><a href="javascript:;">Player</a></li>
  <li class="online-player"><a href="javascript:;">Player</a></li>
  <li class="online-player"><a href="javascript:;">Player</a></li>
</ul>