@{
  ViewBag.Title = "BMRF.ME | Control";
  ViewBag.Name = "Overview";
  Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="card-container">
  <section class="card">
    <h4>Forum Signups</h4>
    <ul class="forum-signups">
      <li><a href="javascript:;">Bobby</a></li>
      <li><a href="javascript:;">Susan</a></li>
      <li><a href="javascript:;">Merry</a></li>
      <li><a href="javascript:;">Vladmir</a></li>
      <li><a href="javascript:;">xXYOLOSCOPEZ4JESUSXx</a></li>
      <li><a href="javascript:;">Hank</a></li>
    </ul>
  </section>
</div>
<div class="card-container">
  <section class="card">
    <h4>Reports</h4>
    <ul class="reports">
      <li><a href="javascript:;">Kachi</a></li>
      <li><a href="javascript:;">Peep</a></li>
      <li><a href="javascript:;">poopsnail</a></li>
      <li><a href="javascript:;">deadanimals</a></li>
      <li><a href="javascript:;">xXYOLOSCOPEZ4JESUSXx</a></li>
      <li><a href="javascript:;">Viktor</a></li>
      <li><a href="javascript:;">Kachi</a></li>
      <li><a href="javascript:;">Corsair</a></li>
      <li><a href="javascript:;">Kachi</a></li>
    </ul>
  </section>
</div>
<div class="card-container">
  <section class="card">
    <h4>Chart</h4>
    <div class="chart-container">
      <canvas id="chart-1" class="chart"></canvas>
    </div>
  </section>
</div>
<div class="card-container">
  <section class="card">
    <h4>Forum Signups</h4>
    <ul class="forum-signups">
      <li><a href="javascript:;">Bobby</a></li>
      <li><a href="javascript:;">Susan</a></li>
      <li><a href="javascript:;">Merry</a></li>
      <li><a href="javascript:;">Vladmir</a></li>
      <li><a href="javascript:;">xXYOLOSCOPEZ4JESUSXx</a></li>
      <li><a href="javascript:;">Hank</a></li>
    </ul>
  </section>
</div>
<div class="card-container">
  <section class="card">
    <h4>Reports</h4>
    <ul class="reports">
      <li><a href="javascript:;">Kachi</a></li>
      <li><a href="javascript:;">Peep</a></li>
      <li><a href="javascript:;">poopsnail</a></li>
      <li><a href="javascript:;">deadanimals</a></li>
      <li><a href="javascript:;">xXYOLOSCOPEZ4JESUSXx</a></li>
      <li><a href="javascript:;">Viktor</a></li>
      <li><a href="javascript:;">Kachi</a></li>
      <li><a href="javascript:;">Corsair</a></li>
      <li><a href="javascript:;">Kachi</a></li>
    </ul>
  </section>
</div>
<div class="card-container">
  <section class="card">
    <h4>Forum Signups</h4>
    <ul class="forum-signups">
      <li><a href="javascript:;">Bobby</a></li>
      <li><a href="javascript:;">Susan</a></li>
      <li><a href="javascript:;">Merry</a></li>
      <li><a href="javascript:;">Vladmir</a></li>
      <li><a href="javascript:;">xXYOLOSCOPEZ4JESUSXx</a></li>
      <li><a href="javascript:;">Hank</a></li>
    </ul>
  </section>
</div>
<div class="card-container">
  <section class="card">
    <h4>Reports</h4>
    <ul class="reports">
      <li><a href="javascript:;">Kachi</a></li>
      <li><a href="javascript:;">Peep</a></li>
      <li><a href="javascript:;">poopsnail</a></li>
      <li><a href="javascript:;">deadanimals</a></li>
      <li><a href="javascript:;">xXYOLOSCOPEZ4JESUSXx</a></li>
      <li><a href="javascript:;">Viktor</a></li>
      <li><a href="javascript:;">Kachi</a></li>
      <li><a href="javascript:;">Corsair</a></li>
      <li><a href="javascript:;">Kachi</a></li>
    </ul>
  </section>
</div>
<div class="card-container">
  <section class="card">
    <h4>Forum Signups</h4>
    <ul class="forum-signups">
      <li><a href="javascript:;">Bobby</a></li>
      <li><a href="javascript:;">Susan</a></li>
      <li><a href="javascript:;">Merry</a></li>
      <li><a href="javascript:;">Vladmir</a></li>
      <li><a href="javascript:;">xXYOLOSCOPEZ4JESUSXx</a></li>
      <li><a href="javascript:;">Hank</a></li>
    </ul>
  </section>
</div>
<div class="card-container">
  <section class="card">
    <h4>Reports</h4>
    <ul class="reports">
      <li><a href="javascript:;">Kachi</a></li>
      <li><a href="javascript:;">Peep</a></li>
      <li><a href="javascript:;">poopsnail</a></li>
      <li><a href="javascript:;">deadanimals</a></li>
      <li><a href="javascript:;">xXYOLOSCOPEZ4JESUSXx</a></li>
      <li><a href="javascript:;">Viktor</a></li>
      <li><a href="javascript:;">Kachi</a></li>
      <li><a href="javascript:;">Corsair</a></li>
      <li><a href="javascript:;">Kachi</a></li>
    </ul>
  </section>
</div>