@model BMRF.Domain.DonateModels.Donation

@{
    ViewBag.Title = "bmrf.me | store";
    ViewBag.Author = "Jamie Roling, Corey Chase";
}

<div class="ink-grid">
    <div class="column-group clearfix bottom-space half-vertical-gutters">
        <div class="all-100">
            <div class="column-group clearfix featured store-item-header quarter-top-space">
                <div class="all-60">
                    <h3>VIP Pass</h3>
                </div>
                <div class="all-40 align-right">
                    <h3>$9.49 monthly</h3>
                </div>
                <div class="all-33">
                    <div class="store-item-box">
                        <h4>Priority Access</h4>
                        <p>
                            Want to thank us for all the work we put in to the community? Thank yourself too!<br /> This gives you access to reserved slots on our gameservers. Nobody enjoys waiting to play games right?
                        </p>
                        <div class="premium-example" style="background: url('https://content.bmrf.me/siteassets/img/access1.jpg'); background-size: 100%;"></div>
                    </div>
                </div>
                <div class="all-33">
                    <div class="store-item-box">
                        <h4>bonus community content</h4>
                        <p>On top of gaining access to the rusty battered gates of the donator board, you are allowed custom usertags, animated avatars, and signatures so you can show off your favorite shaking cat gif.</p>
                        <div class="premium-example" style="background: url('https://content.bmrf.me/siteassets/img/access2.png'); background-size: 100%;">
                            <img src="https://content.bmrf.me/siteassets/img/shakingcat.gif" alt="forumavatar" class="" />
                        </div>
                    </div>
                </div>
                <div class="all-33 bottom-space">
                    <div class="store-item-box">
                        <h4>support the servers</h4>
                        <p>
                            All contributions will first and foremost go into improving BMRF to push forward the quality and reach of our community.<br /> Without these contributions we wouldn't be able to keep this machine rollin'.
                        </p>
                        <div class="premium-example" style="background: url('https://content.bmrf.me/siteassets/img/access3.jpg'); background-size: 100%;"></div>
                    </div>
                </div>
            </div>
            <a href="https://community.bmrf.me/payments.php" class="store-btn quarter-top-space" data-toggle="checkout-streamer-stuff">subscribe</a>
        </div>
    </div>
</div>

@*<div class="all-100">
        <div class="column-group clearfix featured store-item-header quarter-top-space">
            <div class="all-60">
                <h3>Streamer pass</h3>
            </div>
            <div class="all-40 align-right">
                <h3>$6.49 p/m</h3>
            </div>
            <div class="all-100">
                <p style="margin-left:18px;">The Streamer pass lets you promote your stream on our BMRF frontpage by giving us your stream link. Promoted streams are sorted by viewercount. If there aren't enough promoted streams online it will autofill it with high viewercount streams while still giving the promoted streamers who are online priority.</p>
            </div>
            <div class="all-33">
                <div class="store-item-box">
                <h4>step 1</h4>
                <p>You give us your twitch stream link while subscribing to the streamer pass</p>
                <div class="premium-example" style="background: url('https://content.bmrf.me/siteassets/img/streamer1.jpg")');background-size:100%;"></div>
                </div>
            </div>
            <div class="all-33">
                <div class="store-item-box">
                <h4>step 2</h4>
                <p>We add it to the frontpage so it shows your stream whenever you're live.</p>
                <div class="premium-example" style="background: url('https://content.bmrf.me/siteassets/img/streamer2.jpg")');background-size:100%;"></div>
                </div>
            </div>
            <div class="all-33 bottom-space">
                <div class="store-item-box">
                <h4>step 3</h4>
                <p>BMRF visitors see your stream and check it out, giving you the exposure & viewers.</p>
                <div class="premium-example" style="background: url('https://content.bmrf.me/siteassets/img/streamer3.jpg")');background-size:100%;"></div>
                </div>
            </div>
            <div class="toggle-box column-group" data-toggle="checkout-streamer-pass" style="display:none;">
            <div class="all-33">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="margin-left:12px;" class="article-index-form">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="8QU5B967AESAC">
                <table>
                <tr><td><input type="hidden" name="on0" value="Twitch URL">Twitch URL</td></tr><tr><td><input type="text" name="os0" maxlength="200" required></td></tr>
                </table>
                <input class="toggle-btn paypal-subscribe" data-toggle="checkout-streamer-pass" type="image" src="url('https://content.bmrf.me/siteassets/img/pp-subscribe.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="all-33">
                <div class="store-item-box">
                <h4>Checkout</h4>
                <p>Once you click subscribe you will be redirected to the PayPal website to complete payment. No payment or personal details ever touch our servers.</p>
                </div>
            </div>
        </div>
    </div>
    <span class="toggle-btn toggle-box store-btn quarter-top-space" data-toggle="checkout-streamer-pass">subscribe</span>
                </div>*@
