<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://new.bmrf.me</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>new.bmrf.me</MSDeployServiceURL>
    <DeployIisAppPath>new.bmrf.me</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>NS512147\WebDeploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ItemsDataModel" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BMRF.Domain.DataModels.ItemsDataModel, BMRF.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PlayerDataModel" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BMRF.Domain.DataModels.PlayerDataModel, BMRF.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StatsDataModel" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BMRF.Domain.DataModels.StatsDataModel, BMRF.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VBulletinCustomAvatarDataModel" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BMRF.Domain.DataModels.VBulletinCustomAvatarDataModel, BMRF.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VBulletinUsergroupDataModel" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BMRF.Domain.DataModels.VBulletinUsergroupDataModel, BMRF.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VBulletinSessionDataModel" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BMRF.Domain.DataModels.VBulletinSessionDataModel, BMRF.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VBulletinUserDataModel" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BMRF.Domain.DataModels.VBulletinUserDataModel, BMRF.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StreamsDataModel" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BMRF.Domain.DataModels.StreamsDataModel, BMRF.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WhitelistDataModel" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BMRF.Domain.DataModels.WhitelistDataModel, BMRF.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemsDataModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PlayerDataModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StatsDataModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StreamsDataModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VBulletinCustomAvatarDataModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VBulletinSessionDataModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VBulletinUserDataModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VBulletinUsergroupDataModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WhitelistDataModel-Web.config Connection String" />
  </ItemGroup>
</Project>