@{
    ViewBag.Title = "bmrf.me | rules";
    ViewBag.Author = "Jamie Roling, Corey Chase";
    }

        <!-- start content -->
        <div class="ink-grid">   
          
            <div class="column-group featured clearfix double-bottom-space">
                <div class="all-5 medium-50 small-100">
                </div>

                <div class="all-70 medium-50 small-100 top-space">
                  <article class="rules">
                      <h3 class="toggle-btn" data-toggle="rules-0">Don&#8217;t be a dick</h3>
                      <div class="toggle-box" data-toggle="rules-0" style="display:none;">
                        <p>This should be fairly obvious and is related to text and verbal communications only. We don’t care if what you’re doing is considered dick behavior gameplay wise (unless we specified it in the rules below), but don’t expect to say anything racist / homophobic (or similar) and not get banned.
                        <br /> <br />
                        Similarly, don’t be excessively annoying to other players. Nobody wants to read ten lines of you bragging about a kill, or complaining about a game bug / death. You’re probably going to get kicked for doing that in-game. If you really have to do it, use the forums.
                        </p>
                        <p>&nbsp;</p>
                      </div>

                      <h3 class="toggle-btn" data-toggle="rules-1">Don’t use VOIP in side chat</h3>
                      <div class="toggle-box" data-toggle="rules-1" style="display:none;">
                        <p>Don’t use your mic in any global context, such as side chat or global chat. If you press the button accidentally on a regular basis, you should unbind it. You can bind your VOIP key to direct chat only.
                        <br /> <br />
                        You should also keep text chat in global channels to english only, since we can't moderate all languages.
                        </p>
                        <p>&nbsp;</p>
                      </div>

                      <h3 class="toggle-btn" data-toggle="rules-2">Don’t use exploits; don’t hack.</h3>
                      <div class="toggle-box" data-toggle="rules-2" style="display:none;">
                        <p>It can be clever to use certain exploits to gain an advantage over other people, but we can't allow it. This is because we have to deal with a lot of issues within ArmA and it’s mods that probably won’t ever be fixed by the developers, so they eventually become widespread and detract from gameplay for everyone.
                        <br /> <br />
                        By “exploits” we mean stuff like duping items, purposely clipping your player inside solid objects, building stuff inside a solid object, underwater, making gameplay elements inaccessible, or unsupported structures in general. I could write a comprehensive list here that goes on for days, but it changes every week so we’re not going to include it in the rules.
                        <br /> <br />
                        We expect you to be able to make smart decisions and decide for yourself what is or isn’t an exploit. If you aren't sure if what you're doing is an exploit, or unintended by the game/mod developers, ask us in IRC (via the 'support' link at the top of the page). 
						<br /> <br />
						Keep in mind that we use the term exploit loosely, things that are unintended by the developers probably fall under this rule too. Stay on the safe side, and ask us if you’re unsure (or just don’t do it).
                        </p>
                        <p>&nbsp;</p>
                      </div>

                      <h3 class="toggle-btn" data-toggle="rules-3">No Combat Logging</h3>
                      <div class="toggle-box" data-toggle="rules-3" style="display:none;">
                        <p>Everyone has slightly different definitions of what combat logging is. But ours goes a little something like this:
                        <br /> <br />
                        If you come in visible contact with a player, or have been shot at at all, and decide to log out, you have combat logged. Doing so will land you a ban, probably for 72 hours, and we’ll likely delete your character. If you do it a lot we’ll permanently ban you. Lose your hard earned gear like a man, it’s just pixels.
                        </p>
                        <p>&nbsp;</p>
                      </div>

                      <h3 class="toggle-btn" data-toggle="rules-4">Reporting assholes</h3>
                      <div class="toggle-box" data-toggle="rules-4" style="display:none;">
                        <p>If you see someone breaking any of the rules listed here, quietly report them to an admin directly, or make a report post on the forums. If it’s on the forums, use the report function on the forums. The important thing is that you don't call people out over in-game chat, it usually leads to a dumb argument and creates more work for the moderators on that server.
                        </p>
                        <p>&nbsp;</p>
                      </div>

                      <h3 class="toggle-btn" data-toggle="rules-5">Specifics (Overpoch)</h3>
                      <div class="toggle-box" data-toggle="rules-5" style="display:none;">
                        <h4>Safe Zone Specific Rules</h4>
                        <p>&nbsp;</p>
                        <p>We hate having to even list these, but there’s often a lot of controversy over safe zones so here we go:</p>
                          <ul>
                            <li>Don’t steal from people in safe zones. It defeats the point of having them.</li>
                            <li>Don’t destroy vehicles in the safe zone. Don’t push them out of the safe zone, either.</li>
                            <li>Don’t shoot at people who are in the safe zone from outside of it. We don’t care if it ends up doing damage or not.</li>
                          </ul>
                        <p>&nbsp;</p>

                        <h4>Don’t place that cinder yet, Billy.</h4>
                        <p>&nbsp;</p>
                        <p>Don’t build stuff in high-tier spawn points for each loot spawn category. This means building inside of a school (for residential loot) is not allowed, and building stuff in a barracks (for military loot) is not allowed either. If you want to lock down a small shitty house in a random town somewhere, that’s fine. Building on roads to form a roadblock is also fine. We just don’t want the high-traffic loot spawn points to be cluttered with ugly/annoying deployables everywhere.
                        </p>
                      </div>

                      <h3 class="toggle-btn" data-toggle="rules-6">Someone has to draw the line somewhere</h3>
                      <div class="toggle-box" data-toggle="rules-6" style="display:none;">
                        <p>Some people are going to interpret the rules different differently from others. Unfortunately for those people, that doesn’t change the fact that they’ve broken them, and they're likely to still be punished.
						<br /> <br />
						If you don't understand a rule, ask for an explanation from an admin in IRC (click the 'support' link at the top of the site). If you feel we’ve done a bad job at explaining something, let us know and we’ll see if it can be reworded. 
						<br /> <br />
						Remember that even if we did change the wording of a rule, it doesn’t necessarily mean your punishment would be reverted, since you can always ask for further clarification.
                        </p>
                        <p>&nbsp;</p>
                      </div>

                  </article>

                </div>
                <div class="all-25 medium-50 small-100 clearfix half-top-space">
                  <div class="widget-container author-widget">
                    <h3 style="color:#FFBA2B;padding-left:3px;">Restorations</h3>
                    <p style="padding-right:0.5em;font-size:0.9em;position:relative;top:-3px;">We do not restore items, vehicles, or characters lost due to inherent bugs in the games and their mods. Restoration requests for harm done by use of a game exploit and/or server fault will be handled. 
                    </p>
                    <h3 style="color:#FFBA2B;padding-left:3px;">Reporting Incidents</h3>
                    <p style="padding-right:0.5em;font-size:0.9em;position:relative;top:-3px;">Suspected hacking, exploits, harassment/language, and general rule breaking should be reported in the appropriate section on the forums. Important hacking related issues or general administration requests can be directed to our IRC channel (click the "support" link at the top of the page).
                    </p>

                  </div>
                </div>
            </div>

            <div class="column-group featured clearfix double-top-space">
                <div class="all-100 medium-100 small-100">
                    <div id="recent_posts" class="ink-carousel" data-space-after-last-slide="false">
                        <ul class="stage column-group">
                        </ul>
                    </div>

                </div>
            </div>
            <nav id="p1" class="ink-navigation quarter-top-space half-bottom-space">
              <ul class="pagination black"></ul>
            </nav>

          </div>

                  <!-- post loading script -->   
                  <script>

                  $(document).ready(function() {

                      $.getJSON('https://bmrf.me/api/get_recent_posts?count=7', function (data) {
                      for (var i in data.posts) {
                      $('.stage').append('<li class=\"slide xlarge-25 large-33 medium-33 small-50 tiny-100\" onclick=\"window.location = \'../' + data.posts[i].slug + '/\'\"><img class=\"half-bottom-space\" src=\"' + data.posts[i].thumbnail + '\"><h4 class=\"no-margin\">' + data.posts[i].title + '</h4><p>published <span>' + data.posts[i].date + '</span> in <span>' + data.posts[i].categories[0].title + '</span></p></div></li>');

                      }
                      
                    }).done(function() {
                      Ink.requireModules(['Ink.UI.Carousel_1'], function(InkCarousel) {
                            new InkCarousel('#recent_posts', {pagination: '#p1'});
                        });
                    }).fail(function() {
                      $('article').append('<h4>The recent articles are having a fistfight and can\'t be retrieved.</h4>');
                    });
                  });
                  </script>       

        <!-- end content -->